{% extends '../layouts/user/base.html' %}
{% load static %}
{% block title %}登録内容確認{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css\user\user_style.css' %}">{% endblock %}
{% block contents %}
<main>
   <h1>登録内容確認</h1>
   <div>
   <form action="" method="post">
         <input type="hidden" name="name" value="{{ id }}">
         <input type="hidden" name="sex" value=" {{ psw }}">
         <input type="hidden" name="email" value="{{ mail }}">
         <input type="hidden" name="tel" value="{{ phone }}">
         <p>登録内容はこちらで宜しいでしょうか？<br>よろしければ「送信する」ボタンを押して下さい。</p>
         <div>
             <div>
                 <label>お名前: {{ id }}</label>
                 
             </div>
             <div>
                 <label>性別: {{ psw }}</label>
                
             </div>
             <div>
                 <label>メールアドレス: {{ mail }}</label> 
             </div>
             <div>
                 <label>電話番号:{{ phone }}</label>
             </div>
         </div>   
         <div id="fbtn">
             <input type="button" value="内容を修正する" href="{% url 'user:userRegist' %}">
             <button type="submit" name="submit">登録</button>
         </div>
    </form>
   </div>
 </main>
{% endblock %}