{% extends '../layouts/user/base.html' %}
{% load static %}

{% block title %}ユーザー新規登録ページ{% endblock %}

{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/user/userCreate.css' %}">
</head>
{% endblock %}

{% block contents %}
    <main>
        <h1>ユーザー新規登録</h1>
        <div id="test">
        <form method="post">
        <div class = "main">
             <div class = "inquiry_area">
                      {% csrf_token %}
                      {{ form.as_p }}
             </div>
        </div>
        <div id="fbtn">
            <button type="submit" name = "submitbutton">　次へ　</button>
        </div>
    </form>
</div>
    </main>

{% endblock %}