{% extends '../layouts/user/base.html' %}
{% load static %}

{% block title %}ユーザー新規登録ページ{% endblock %}

{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/user/userCreate.css' %}">
</head>
{% endblock %}

{% block contents %}
    <main>
        <div class = "main">

            <h1>ユーザー新規登録</h1>
            <div class = "inquiry_contents">
                <div class = "inquiry_area">
                    <form method="post" action="{% url 'user:userCheck' %}">
                        <div class = "form_group">
                            <table>
                               {% csrf_token %}
                               {{form.non_field_errors}}
                               {% for field in form %}
                                <tr>
                                <th><label>{{field.label_tag}}</label></th>
                                <td>
                                    {{field}}
                                </td>
                                <td>
                                    {{field.errors}}
                                </td>
                                </tr>
                                {% endfor %}
                          </table>
                       </div>
                        <input type="submit" name = "submitbutton" value="次へ"></button>
                    </form>
                </div>
                    
            </div>

        </div>
    </main>

{% endblock %}