{% extends '../layouts/user/base.html' %}
{% load static %}

{% block title %}事業者店舗情報確認ページ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\boStoreCustom.css' %}">
{% endblock %}
{% block contents %}
<!-- メイン -->
<main>
    <h1>店舗情報の確認</h1>
    <p><a href="{% url 'user:userAccountUpdate' request.user.userid %}">更新ページはこちら</a>
    {% for customuser in customuser_list %}
    <div>
        <h2>事業者情報</h1>
        <table>
            <tr><th>ユーザーID</th><td>{{ customuser.userid }}</td></tr>
            <tr><th>氏名</th><td>{{ customuser.username }}</td></tr>
            <tr><th>メールアドレス</th><td>{{ customuser.mail }}</td></tr>
            <tr><th>電話番号</th><td>{{ customuser.phone }}</td></tr>
        </table>
    </div>
    {% endfor %}

</main>
{% endblock %}