{% extends '../layout/user/base.html' %}
{% load static %}
{% block title %}新規登録{% endblock %}
{% block contents %}
    <main> 
        <h1>本登録メール 送信完了</h1>
        <div class="thanks">
          <div class="message">
            <p>
            会員登録ありがとうございました。<br>
            登録されたアドレスに本登録メールを送信いたしました。<br>
            メールに記載されたURLより会員登録を完了してください。
            </p><br>
            <a href="#">メールが届かない場合</a>
          </div>
                <button type="button" class="topbtn">トップページに戻る</button>
       </div>
    </main>
</body>
</html>
{% endblock %}