{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>予約一覧</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/layouts/comp/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/comp/style_bo_reservation_list.css' %}" />
</head>

<body>
    <header>
        <!-- ナビゲーション -->
        <div class="navbar">
            <ul class="bazaar">
                <li>
                    <a href="{% url 'top:index' %}">BAZAAR</a>
                </li>
            </ul>
            <ul class="navigationbar">
                <li><a href="{% url 'top:inquiry' %}">お問い合わせ</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:mypage' %}">マイページ</a></li>
                <li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">新規登録/ログイン</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <main>
        <div class="main">
            <h1>２日間予約</h1>
            <div class="list_all">
                <form action="{% url 'comp:change_to_pdf' %}" method="get">
                    {% csrf_token %}
                    {% for re in reservation %}
                    <input type="hidden" name="id" value="{{ re.id }}">
                    {% endfor %}
                    <button type="submit">PDF ダウンロード</button>
                </form>
                <a href="{% url 'comp:reservation_list_all' %}">予約一覧</a>
            </div>

            <div class="list_area">
                <table class="list">
                    <tr>
                        <th>代表者名</th>
                        <th>日付</th>
                        <th>人数</th>
                        <!-- <th>メニュー1</th>
                        <th>メニュー2</th>
                        <th>メニュー3</th>
                        <th>メニュー4</th>
                        <th>メニュー5</th> -->
                    </tr>
                    {% for re in reservation %}
                    <tr>
                        <td>{{ re.reservation_name }}</td>
                        <td>{{ re.reservation_day }}</td>
                        <td>{{ re.nop }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
</body>

</html>