{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}事業者情報登録ページ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\boMyStoreCustom.css' %}">
{% endblock %}
{% block contents %}
<!-- メイン -->
<main>
    <h1>事業者登録ページ</h1>
    <div>
        {% if not registration_store %}
            <a href="{% url 'comp:boStoreCustom' %}">店舗情報の登録</a>
        {% endif %}
        <a href="{% url 'comp:menucustom' %}">メニュー情報の登録</a>
    </div>
    {% if not registration_store %}
        <div class = "check">
            <p>初めに店舗情報の登録をお願いします。</p>
        </div>
    {% endif %}
</main>
{% endblock %}