{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}登録内容確認{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/comp/style_bo_check_registed_info.css' %}">
{% endblock %}

{% block contents %}
<!-- メイン -->
<main>
    <div class="main">
        <h1 class="signup">登録内容確認</h1>
        <div class="forms_area">
            <div class="confirmation">
                <p>以下の内容でよろしいでしょうか。</p>
            </div>
            <form action="{% url 'comp:send_url' %}" method="get">
                {% csrf_token %}
                <table class="forms">
                    <tr>
                        <td>定休日：</td>
                        <td>
                            <div class="day">日曜日</div>
                        </td>
                    </tr>
                    <tr>
                        <td>予約詳細設定：</td>
                        <td>
                            <table class="reservation_setting">
                                <tr>
                                    <th></th>
                                    <th>日曜日</th>
                                    <th>月曜日</th>
                                    <th>火曜日</th>
                                    <th>水曜日</th>
                                    <th>木曜日</th>
                                    <th>金曜日</th>
                                    <th>土曜日</th>
                                </tr>
                                <tr>
                                    <td><strong>1時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>2時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>3時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>4時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>5時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>6時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>7時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>8時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>9時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>10時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>11時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>12時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>13時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>14時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>15時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>16時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>17時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>18時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>


                                <tr>
                                    <td><strong>19時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>20時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>21時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>22時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>23時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>24時</strong></td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                    <td>
                                        <div class="input_area">10</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>店舗紹介写真</td>
                        <td>
                            <div class="image">image.jpg</div>
                        </td>
                    </tr>
                    <tr>
                        <td>店舗紹介文</td>
                        <td>
                            <div class="textarea">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi alias,
                                sit voluptas accusamus vero adipisci in ad, perferendis tenetur neque voluptates
                                corporis, modi nulla error facere iure fugit repellat quibusdam?
                            </div>
                        </td>
                    </tr>
                    <tr class="menu_input">
                        <td>メニュー</td>
                        <td>
                            <div class="menu_area">
                                <table>
                                    <tr>
                                        <td>名称</td>
                                        <td>
                                            <div class="menu_name">餃子</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>写真</td>
                                        <td>
                                            <div class="menu_image">image.jpg</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>値段</td>
                                        <td>
                                            <div class="price">1000円</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="button_area">
                    <div class="dummy"></div>
                    <button type="submit" class="save">登録</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}

</body>

</html>