{% extends '../layouts/user/base.html' %}
{% load static %}

{% block title %}事業者新規登録ページ{% endblock %}

{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/comp/boCreate.css' %}">
</head>
{% endblock %}

{% block contents %}
    <main>
        <h1>事業者新規登録</h1>
        <div id="test">
        <form method="post">
        <div class = "main">
             <div class = "inquiry_area">
                      {% csrf_token %}
                      {% with form as f %}
                <label> {{ f.userid.label }}</label>{{ f.userid }}
                <label> {{ f.password.label }}</label>{{ f.password }}
                <label> {{ f.username.label }}</label>{{ f.username }}
                <label> {{ f.adress.label }}</label>{{ f.adress }}
                <label> {{ f.mail.label }}</label>{{ f.mail }}
                <label> {{ f.phone.label }}</label>{{ f.phone }}
                {% endwith %}
             </div>
        </div>
        <div id="fbtn">
            <button type="submit" name = "submitbutton">　次へ　</button>
        </div>
    </form>
</div>
    </main>

{% endblock %}n