{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}事業者店舗情報登録ページ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\boStoreCustom.css' %}">
{% endblock %}
{% block contents %}
<!-- メイン -->
<main>
    <h1>メニュー情報の登録</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class = "main">
                 <div class = "form_area"> 
                     {% csrf_token %}
                     {{ form.as_p }}
                     <div id="fbtn">
                     <button type="submit" name = "submitbutton">　登録　</button>
                     </div>
                 </div>
                
            </div>
        </form>
    </div>
</main>
{% endblock %}