{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}メニュー情報更新ページ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\boMenuUpdate.css' %}">
{% endblock %}
{% block contents %}
<main>
    <div class="main">
        <h1>メニュー情報更新ページ</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="更新">
            </form>
        </div>
    </div>
</main>

{% endblock %}