{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}事業者店舗情報確認ページ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\boStoreInfo.css' %}">
{% endblock %}
{% block contents %}
<!-- メイン -->
<main>
    <h1>店舗情報の確認</h1>
    {% for customuser in customuser_list %}
    <div class = "compinfo">
        <h2>事業者情報</h1>
        <p><a href="{% url 'comp:boAccountUpdate' request.user.userid %}">更新ページはこちら</a>
        <table>
            <tr><th>ユーザーID</th><td>{{ customuser.userid }}</td></tr>
            <tr><th>氏名</th><td>{{ customuser.username }}</td></tr>
            <tr><th>メールアドレス</th><td>{{ customuser.mail }}</td></tr>
            <tr><th>電話番号</th><td>{{ customuser.phone }}</td></tr>
            <tr><th>年齢</th><td>{{ customuser.age }}</td></tr>
            <tr><th>住所</th><td>{{ customuser.adress }}</td></tr>
        </table>
    </div>
    {% endfor %}
    {% for store in store_list %}
    <div class = "storeinfo">
        <h2>店舗情報</h2>
        <p><a href="{% url 'comp:boStoreUpdate' request.user.userid %}">更新ページはこちら</a>
        <table>
            <tr><th>店舗ID</th><td>{{ store.store_id }}</td></tr>
            <tr><th>店舗名</th><td>{{ store.store_name }}</td></tr>
            <tr><th>郵便番号</th><td>{{ store.postal_code }}</td></tr>
            <tr><th>店舗住所</th><td>{{ store.adress1 }}{{ store.adress2 }}{{ store.adress3 }}</td></tr>
            <tr><th>電話番号</th><td>{{ store.phone_number }}</td></tr>
            <tr><th>席数</th><td>{{ store.seat }}</td></tr>
            <tr><th>予約可能席数</th><td>{{ store.seat_reservationable }}</td></tr>
            <tr><th>営業時間</th><td>{{ store.bussiness_hours_start }}～{{ store.bussiness_hours_end }}</td></tr>
            <tr><th>定休日</th><td>{{ store.holiday1 }},{{ store.holiday2 }},{{ store.holiday3 }}</td>
            <tr><th>紹介文</th><td>{{ store.about }}</td></tr>
            <tr><th>写真</th><td><img src="/media/{{store.photo1}}" alt="dinner" width="150px"><img src="/media/{{store.photo2}}" alt="dinner" width="150px"><img src="/media/{{store.photo3}}" alt="dinner" width="150px"><img src="/media/{{store.photo4}}" alt="dinner" width="150px"></td></tr>
            
        </table>
    </div>
    {% endfor %}
        <h2>メニュー情報</h2>
        <p><a href="{% url 'comp:boMenuUpdate' request.user.userid %}">更新ページはこちら</a>
        {% for menu in menu_list %}
        <div class = "menuinfo">
            <table>
                <tr><th>店舗ID</th><td>{{ menu.store_id }}</td></tr>
                <tr><th>メニュー名</th><td>{{ menu.menu_name1 }}</td></tr>
                <tr><th>サイズ</th><td>{{ menu.size1 }}</td></tr>
                <tr><th>値段</th><td>{{ menu.price1 }}</td></tr>
                <tr><th>写真</th><td><img src="/media/{{ menu.photo1 }}" alt="メニュー１" width="200px"></td></tr>
            </table>
            <table>
                <tr><th>店舗ID</th><td>{{ menu.store_id }}</td></tr>
                <tr><th>メニュー名</th><td>{{ menu.menu_name2 }}</td></tr>
                <tr><th>サイズ</th><td>{{ menu.size2 }}</td></tr>
                <tr><th>値段</th><td>{{ menu.price2 }}</td></tr>
                <tr><th>写真</th><td><img src="/media/{{ menu.photo2 }}" alt="メニュー２" width="200px"></td></tr>
            </table>
            <table>
                <tr><th>店舗ID</th><td>{{ menu.store_id }}</td></tr>
                <tr><th>メニュー名</th><td>{{ menu.menu_name3 }}</td></tr>
                <tr><th>サイズ</th><td>{{ menu.size3 }}</td></tr>
                <tr><th>値段</th><td>{{ menu.price3 }}</td></tr>
                <tr><th>写真</th><td><img src="/media/{{ menu.photo3 }}" alt="メニュー３" width="200px"></td></tr>
            </table>
            <table>
                <tr><th>店舗ID</th><td>{{ menu.store_id }}</td></tr>
                <tr><th>メニュー名</th><td>{{ menu.menu_name4 }}</td></tr>
                <tr><th>サイズ</th><td>{{ menu.size4 }}</td></tr>
                <tr><th>値段</th><td>{{ menu.price4 }}</td></tr>
                <tr><th>写真</th><td><img src="/media/{{ menu.photo4 }}" alt="メニュー４" width="200px"></td></tr>
            </table>
        </div>
        {% endfor %}
</main>
{% endblock %}