{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}
予約一覧
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\style_bo_reservation_list.css' %}">
{% endblock %}

{% block contents %}
<main>
    <div class="main">
        <div class="list_area">
            <table class="list">
                {% with reservation_list as re %}
                <tr>
                    <th>代表者名</th>
                    <th>時間</th>
                    <th>人数</th>
                    <th>メニュー</th>
                </tr>
                {% for re in re %}
                <tr>
                    <td>{{ re.reservation_name }}</td>
                    <td>{{ re.time }}</td>
                    <td>{{ re.nop }}</td>
                    {% if re.menu1 %}
                    <td>{{ re.menu1 }}</td>
                    {% else %}
                    <td>メニューなし</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endwith %}
            </table>
        </div>
    </div>
</main>
{% endblock %}

</body>

</html>