{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}パスワードリセット{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/comp/style_bo_reset_password.css' %}">
{% endblock %}
{% block contents %}
<!-- メイン -->
<main>
    <div class="main">
        <h1 class="password_reset">パスワードリセット</h1>
        <div class="password_reset_area">
            <div class="form_area">
                <h2 class="mail">メールアドレスを入力してください。</h2>
                <form action="" method="post" class="mail">
                    <input type="email" name="" id="" class="mail_input">
                </form>
                <p class="mail">※入力されたメールアドレスにパスワードリセットのご案内URLをお送りします。</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

</body>

</html>