{% extends '../layouts/top/base.html' %}
{% load static %}

{% block title %}お問い合わせ内容確認{% endblock %}

{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/top/style_co_check_inquiry_info.css' %}">
</head>
{% endblock %}

{% block contents %}
    <main>
        <div class = "main">

            <h1>お問い合わせ内容確認</h1>
            <div class = "check_inquiry_contents">
                <h3>以下の内容でお間違いないでしょうか。</h3>
                <div class = "check_inquiry_area">
                    <h4>お問い合わせ内容</h4>
                    <div class = "check_inquiry_text">
                        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                    </div>
                    <hr>
                    <div class = "check_inquiry_name">
                        <p>お名前：わたしはアンパンマン</p>
                    </div>

                    <div class = "check_inquiry_email">
                        <p>返信用メールアドレス：anpan@anpan.ac.jp</p>
                        
                    </div>
                        
                    <button type="submit" name = "submitbutton">送信</button>
                </div>
                    
            </div>

        </div>
    </main>
{% endblock %}