{% extends '../layouts/top/base.html' %}
{% load static %}

{% block title %}店舗詳細{% endblock %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/top/style_co_store_detail.css' %}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function(){
                $('.slider').bxSlider({
                    auto: true,
                    pause: 5000,
             });
            });
    </script>
</head>
{% endblock %}

{% block contents %}

    <main>
        <div class = "main">
            <!-- パンくずリスト -->
            <div class="bread_crumbs">
                <li class="bread_crumb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#">
                        <span itemprop="top">トップ</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="bread_crumb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="#">
                        <span itemprop="detail">店舗詳細</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
            </div>
            
            <!-- 予約ボタン -->
            <button class = "button" onclick="location.href='#'">今すぐ予約</button>
            
            <div class = "detail">
                <div class = "explain">
                    <h1>大原食堂</h1>
                    <div class = "stars">
                        <img src="{% static '/media/review02.png' %}" alt="" width="100px">
                    </div>
                </div>
                <p>金沢市せｄｒｆｔｇｙふｊ</p>
            </div>
            <div class = "feature">
                <h2>特徴がないのが特徴！白ごはん専門店！</h2>
                <p>石川県金沢市にある大原食堂は創業２００年目を迎える老舗白ごはん専門店である。今まで・・・・・・・・</p>
            </div>
            <div class="slider">
                <img src="{% static '/media/dinner.jpg' %}" alt="" class = "image">
                <img src="{% static '/media/dinner.jpg' %}" alt="" class = "image">
            </div>

            <div class = "picks">
                <h2>当店のおススメ</h2>
                <div class = "top">
                    <div class = "top-left">
                        <img src="{% static '/media/dinner.jpg' %}" width = "200px" height = "125px" alt="">
                        <p>白米です。普通の白米です。研ぎました。hello I am fine thank you</p>
                    </div>

                    <div class = "top-right">
                        <img src="{% static '/media/dinner.jpg' %}" width = "200px" height = "125px" alt="">
                        <p>白米です。普通の白米です。研ぎました。hello I am fine thank you</p>
                    </div>
                </div>
                <div class = "under">
                    <div class = "under-left">
                        <img src="{% static '/media/dinner.jpg' %}" width = "200px" height = "125px" alt="">
                        <p>白米です。</p>
                    </div>
                    <div class = "under-right">
                        <img src="{% static '/media/dinner.jpg' %}" width = "200px" height = "125px" alt="">
                        <p>白米です。</p>
                    </div>
                </div>
            </div>

            <div class = "kutikomi">
                <div class = "review-header">
                    <h1>口コミ</h1>
                    <p>53件</p>
                <a href="#" target="_blank"><p>口コミを書く（会員登録が必要です）</p></a>
                </div>

                <div class = "reviews">
                    <div class = "profile">
                        <p>さいきょうさん</p>
                        <img src="{% static '/media/review03.png' %}" alt="" width="100px">
                    </div>
                    <div class = "review">
                        <p>くぁｗせｄｒｆｔｇｙふじこｌｐ；くぁｗせｄｒｆｔｇｙふじこｌｐ；くぁｗせｄｒｆｔｇｙふじこｌｐ；くぁｗせｄｒｆｔｇｙふじこｌｐ；</p>
                    </div>
                    </div>
            </div>


        </div>
    </main>
{% endblock %}