h1 {
    padding-top: 10vh;
} 
.main {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
} 
.form_area {
    display: block;
    width: 800px;
    height: 1800px;
    margin: 0 auto;
    padding: 20px;
    background-color: ghostwhite;
}
p {
    display: block;
    width: 700px;
    height: 60px;
    margin: 0 auto;
    text-align: left;
}
label::after {
    content: "\A" ;
    white-space: pre ;
}

.menu1 {
    height: 430px;
}

.menu2 {
    height: 430px;
}

.menu3 {
    height: 430px;
}

.menu4 {
    height: 430px;
}

#about1{
    resize: none;
    width: 400px;
    height: 90px;
}

#about2{
    resize: none;
    width: 400px;
    height: 90px;
}

#about3{
    resize: none;
    width: 400px;
    height: 90px;
}

#about4{
    resize: none;
    width: 400px;
    height: 90px;
}

/* #fbtn{
    margin-top: 150px;
} */
/* #id_start_minute {
    margin-left: 60px;
}
#bussiness_hours_start::before {
    content: "\A" ;
    white-space: pre ;
} */