main {
    padding-top: 12vh;
}
h1 {
    margin-left: 25px;
}

.main form{
    text-align: center;
    width: 700px;
    height: 250px;
    margin: 0 auto;
    background-color: ghostwhite;
}

.main form p{
    margin-top: 20px;
}

.main form input[type="submit"] {
    margin-top: 20px;
}