h1 {
    padding-top: 10vh;
}

main div {
    text-align: center;

}

main div a {
    display: block;
    text-decoration: none;
    background-color: #fff;
    font-size: larger;
    font-weight: bold;
    border: solid 2px #000;
    width: 20rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    color: #000;
    margin-left: 30px;
    margin-left: 228px;
}

main div {
    position: relative;
    background-color: lightgoldenrodyellow;
    width: 50rem;
    margin-top: 120px;
    margin-left: 350px;
    height: 15rem;
    border-radius: 5rem;
    border: solid 2px #000;
    justify-content: center;
    z-index: 0;
    box-shadow: 0 10px 10px 0 rgb(80, 79, 79);
}

main .check {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  width: 400px;
  height: 100px;
  line-height: 90px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: 900px;
  margin-top: -300px;
}

main .check :before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    z-index: 0;
  }