.main {
    padding-top: 10vh;
    /* background-color: palegoldenrod; */
    height: 100vh;
}

.password_update {
    padding-top: 4rem;
    padding-left: 8rem;
    padding-bottom: 3rem;
}

.update_password_area {
    width: 40vw;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    border: solid 2px black;
    border-radius: 1rem;
    box-shadow: 0 10px 10px 0 rgb(80, 79, 79);
}

.update_password_area form div {
    margin-top: 10px;
}

.button_area {
    display: flex;
    justify-content: flex-end;
}

.update {
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    border-radius: 1rem;
}