.main {
    padding-top: 10vh;
    background-color: palegoldenrod;
    height: 100vh;
}

.password_reset {
    padding-top: 4rem;
    padding-left: 8rem;
    padding-bottom: 3rem;
}

.password_reset_area {
    background-color: lightgoldenrodyellow;
    width: 50vw;
    height: 50vh;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5rem;
    box-shadow: 0 10px 10px 0 rgb(80, 79, 79);
}

.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mail {
    margin: 10px;
}

.mail_input {
    width: 20vw;
    background-color: lightcyan;
}